<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "styles/form.css">
    <title>Recipe Finder</title>
  </head>
  <body>
    <h1>Search for a Recipe</h1>
    <section>
    <img id = "chef" src = "https://i.ya-webdesign.com/images/chef-clipart-dinner-menu-15.png"
    alt = "a chef">
  </section>
    <form method="post" action = "/recipe">
      <p id = "initial">What do you want?</p>
      <p id = "input"><input name = "query"></p>
      <p id = "submit"><input type = "submit" value = "Find Recipes"></p>
    </form>

  </body>
</html>
