body{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100vh;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
}
#chef{
  margin: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  height:25vmin;
  width:25vmin;
}
.button{
  font-size:25px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: yellow;
  color: black;
  text-shadow: 2px 2px 2px white;
}
.button:hover{
  color: white;
  text-shadow: 4px 4px 4px black;
  background-color: magenta;
}
.box{
  height: 50px;
  width: 300px;
  font-size: 30px;
}
h1{
  text-align: center;
  font-family: Rockwell;
  text-shadow: 2px 2px 2px white;
  margin-bottom: 0px;
  font-size: 50px;
  border: solid;
  border-radius: 10px;
  padding: 15px;
  background-color: yellow;
}
p#initial{
  text-shadow: 2px 2px 2px white;
  font-family: Rockwell;
  text-align: center;
  font-size:25px;
  margin-top: 20px;
}
p#input{
  text-align: center;
}
p#submit{
  text-align:center;
  font-family: Rockwell;
}
