body{
  background-color: turquoise;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
}
#chef{
  margin-bottom: -10px;
  height:25vmin;
  width:25vmin;
}
h1{
  text-align: center;
  font-family: Rockwell;
  text-shadow: 2px 2px 2px white;
  margin-bottom: 0px;
  font-size: 50px;
  border: solid;
  border-radius: 10px;
  padding: 15px;
  background-color: yellow;
}
p#initial{
  text-shadow: 2px 2px 2px white;
  font-family: Rockwell;
  text-align: center;
  font-size:25px;
  margin-top: 20px;
}
p#input{
  text-align: center;
}
p#submit{
  text-align:center;
  font-family: Rockwell;
}
